<div class="topic-slider-bg float-left width100">
  <form>
      <div class="col-md-12">
          <div class="col-d-12">
              <p class="text-uppercase mb-0 font12 color68768c">RESPONSE TYPE </p>
          </div>
          <div class="col-d-12">
              <div class="col-d-6 float-left">
                  <p class="color68768c">Button Only
              </div>
          </div>
      </div>
      <div class="width100 float-left">
          <div class="col-md-6 float-left">
              <div class="mt-4 mb-2 ">
                  <div class="input-group m-0">
                      <label class="text-uppercase font11">text</label>
                  </div>
                  <div class="input-group">
                      <input [(ngModel)]="payload.text" type="text" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="">
                  </div>
              </div>
          </div>
      </div>
      <buttons #buttonsComponent [buttons]="payload.buttons"></buttons>
  </form>
</div>

      <!--TODO : Update the styling of buttons in the page-->

