.navbar-nav {
    .nav-item {
        a {
            color: white !important;
        }
    }
}

.navbar-brand {
    color: rgba(0, 0, 0, 0.9);
    background-color: #0e7ea8;
    padding: .1em .3em;
    border-radius: 3px;
    i {
        color: white !important;
    }
}

