/* Override the padding from bootstrap . So that each of the lis gets the full height */

@media only screen and (min-width: 992px) {
    .navbar {
        padding: 0 0 !important;
        li {
          a {
            padding : 1em 1em;
          }
      }
    }
}

.navbar-nav {
    .nav-item {
        a {
            color: white !important;
        }
    }
    li {
        &:hover {
            background-color: #0992c6;
            border-radius: 3px;
        }
        &.selected {
          background-color: #037ba8;
          border-radius: 3px;
        }
    }
}

.navbar-brand {
    color: rgba(0, 0, 0, 0.9);
    background-color: #0e7ea8;
    padding: .3em .6em;
    border-radius: 3px;
    margin-left: 1em;
    i {
        color: white !important;
    }
}

.nav-link {
    &::after {
      content: '';

      border: 5px solid transparent;
      border-top: 5px solid white;
      margin-left: 3px;
      margin-bottom: 3px;
      display: inline-block;
      vertical-align: bottom;
    }
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
