<div class="px-0 pt-3 pb-5  px-md-3 px-lg-3 px-xl-3    col-8-box col-box-asla topic-slider-bg float-left width100 border0">
  <div class="col-md-12 float-left">
      <div class="pb-3">
          <p class="mb-0 bot-name text-uppercase">RESPONCE TYPE</p>
          <p class="mt-0 mb-0 font14 color354052">Carousel</p>
      </div>
  </div>
  <div class="col-md-12 float-left">

<carousel #carousel="carousel" class="carousel" [showControls]="false" [currentSlide]="currentElement" [itemsLength]="payload.elements.length">
  <ng-container *ngFor="let element of payload.elements; let i = index" >
    <ng-container *carouselItem>
        <div class="float-left width100 bg-white pt-3">
            <div class="col-md-12">
                <div class="input-group">
                    <label class="text-uppercase col-d-2">carousel {{i}}</label>
                    <div class="st-line float-left col-d-10 mt-2"></div>
                </div>
                <div class="col-md-12 p-0 p-md-2">
                    <div class="mt-3 mb-4 float-left width100">
                        <div class="col-md-12">
                            <div class="mt-3">
                                <div class="input-group">
                                    <label class="text-uppercase">Image URL</label>
                                </div>
                                <div class="input-group">
                                    <input [(ngModel)]="payload.elements[i].image_url" type="text" name="" class="form-control" placeholder=" ">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 float-left">
                            <div class="mt-3">
                                <div class="input-group">
                                    <label class="text-uppercase">Title</label>
                                </div>
                                <div class="input-group">
                                    <input [(ngModel)]="payload.elements[i].title" type="text" name="" class="form-control" placeholder=" ">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 float-left">
                            <div class="mt-3">
                                <div class="input-group">
                                    <label class="text-uppercase">Subtitle</label>
                                </div>
                                <div class="input-group">
                                    <input [(ngModel)]="payload.elements[i].subtitle" type="text" name="" class="form-control" placeholder=" ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <buttons #buttonsComponent [id]="i" [data]="payloadMap" [buttons]="payload.elements[i].buttons"></buttons>
            <div class="col-d-12 col-x-12 col-p-12 float-left topic-slider-bg-under mt-3  bg-white border-top-1">
                <div class="col-md-12" (click)="addElement()">
                    <p class="mb-0 py-3 color2695ea text-uppercase"><img class="mr-2" src="./assets/images/plus.png" />  Add Carousel Element</p>
                </div>
            </div>
        </div>
    </ng-container>
  </ng-container>
</carousel>
<pagination (gotoPageEvent)="gotoPage($event)" [itemsLength]="payload.elements.length"></pagination>
    </div>
</div>
