<div class="col-md-12 float-left">
  <div class="px-0 pt-3 pb-5 px-md-3 px-lg-3 px-xl-3 col-8-box col-box-asla float-left width100">
    <div class="col-md-12">
      <div class="row">
        <div class="col-6">
          <div class="pb-3">
            <img class="float-left mr-2 icon-top-form" src="./assets/images/edit-with-circle@3x.png">
            <p class="mb-0 bot-name text-uppercase">Topic Name</p>
            <p class="mt-0 mb-0 store-hour color354052">{{topic.name}}</p>
          </div>
        </div>
        <div *ngIf="topic?.answers[answerIndex]?.response_type" class="col-6 text-right text-md-right mt-2">
          <a class=" back-link-nav-color no-hover pointer" (click) ="resetResponse()">
            <i class="fas fa-arrow-left back-link-nav-color" ></i> Back</a>
        </div>
      </div>
    </div>
    <div class="col-md-12" [ngSwitch]="topic?.answers[answerIndex]?.response_type">
      <ng-container *ngSwitchCase="TopicResponseType.TEXT">
        <topic-response-text #topicResponseTextComponent [payload]="topic.answers[this.answerIndex].payload"></topic-response-text>
      </ng-container>

      <ng-container *ngSwitchCase="TopicResponseType.BUTTON">
        <topic-response-button #topicResponseButtonComponent [payload]="topic.answers[this.answerIndex].payload"></topic-response-button>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <topic-answers-home (addResponseEvent)="addNewResponse($event)"></topic-answers-home>
      </ng-container>

    </div>
    <div *ngIf="answerIndex!==undefined" class="col-md-12">
      <div class="form-group mt-2 float-left">
        <button class="btn btn-success pr-4 pl-4 text-white" (click)="saveResponse()">Save</button>
        <button *ngIf="isNewResponse" class="btn btn-default pr-4 pl-4" (click)="removeResponse()">Cancel</button>
        <button *ngIf="!isNewResponse" class="btn btn-default pr-4 pl-4" (click)="deleteResponse()">Delete</button>
      </div>
    </div>
    <topic-answers-slider [answerList]="topic.answers" (selectResponseEvent)="setAnswerIndex($event)"></topic-answers-slider>

    <div class="col-d-12 col-x-12 col-p-12 float-left topic-slider-bg-under mt-2">
      <div class="col-md-12">
        <p class="mb-0 pt-2 pb-2 color2695ea bottom-text-response-page">
          <img class="mr-2" src="./assets/images/plus.png" /> CHOOSE ANOTHER RESPONCE TYPE FOR ABOVE QUESTION</p>
      </div>
    </div>
  </div>
</div>
