      <div class="topic-slider-bg float-left width100">
          <form>
              <div class="col-md-12">
                  <div class="col-d-12">
                      <p class="text-uppercase mb-0 font12 color68768c">RESPONSE TYPE </p>
                  </div>
                  <div class="col-d-12">
                      <div class="col-d-6 float-left">
                          <p class="color68768c">Text Only
                      </div>
                  </div>
              </div>
              <div class="col-md-12  float-left">
                  <div class="form-group">
                      <div class="width100">
                          <div class="width100 float-left">
                              <div class="col-p-12 col-d-12 col-x-12 float-left mt-2 mb-2">
                                  <div class="border1 float-left width100">
                                      <textarea class="width100 height80 p-2 color354052 font16 float-left border-0" name="" [(ngModel)]="payload.text" [ngModelOptions]="{standalone: true}" placeholder="Enter text response"></textarea>
                                      <div class="width100 p-1 backgrounddadcdd float-left">
                                          <div class="col-md-12">
                                              <a href="" class="mr-2"><b class="colorababab">B</b></a>
                                              <a href=""  class="mr-2 ml-2"><b class="colorababab"><i>I</i></b></a>
                                              <a href=""  class="mr-2 ml-2"><b class="colorababab"><u>U</u></b></a>
                                              <a href=""  class="mr-2 ml-2"><b class="colorababab"><i class="far fa-image"></i></b></a>
                                              <a href=""  class="mr-2 ml-2"><b class="colorababab">GIF</b></a>
                                              <a href=""  class="mr-2 ml-2"><b class="colorababab"><i class="fas fa-link"></i></b></a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
      </div>
      <!--TODO : Update the styling of buttons in the page-->

      <div class="col-md-12">
        <div class="form-group mt-2 float-left">
            <button class="btn btn-success pr-4 pl-4 text-white" (click)="saveResponse()">Save</button>
            <button class="btn btn-default pr-4 pl-4" (click)="cancel()">Cancel</button>
        </div>
    </div>


