<div class="container">
    <div class="row justify-content-end">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="pt-3">
                    <img class="float-left mr-2 icon-top" src="./assets/images/icon@3x.png">
                    <h6 class="float-left mt-2 create-bot-heading"><strong>Build the Bot</strong></h6>
                 </div>
            </div>
        </div>

<!-- Design the below page and update the styles accordingly .The build -->
        <div class="col-md-12">
            <div class="pt-3">
                <div class="col-md-12 col-lg-8 float-left">
                    <div class="p-3 pt-20 col-8-box col-box-asla">
                            <div class="col-md-10 text-center">
                                <button (click)="buildBot('NEW')" class="btn btn-success pr-3 pl-3">Build Chat Bot</button>
                            </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 float-left">
                  <chat-simulator></chat-simulator>
                </div>
            </div>
        </div>
    </div>
  </div>
