<menu [menuItems]="botDashboardMenu"></menu>
<div class="bot-dashboard-container">
    <div class="bot-dashboard-heading">
        <h6>{{botConfigList?.length}} Chat bots active</h6>
    </div>
    <ul>
        <li *ngFor="let botConfig of botConfigList">
            <div class="bot-header">{{botConfig.value.name.botName}}</div>
            <div class="bot-body">
                <span>280 Chats</span>
                <span class="small-text">Last Updated</span>
                <span class="small-text">Category</span>
            </div>
            <div class="bot-footer"></div>
        </li>
    </ul>
</div>
