<div class="container-fluid">
<menu [menuItems]="botDashboardMenu" class="menu-bar"></menu>
            <!-- Topic slider end -->
            <div class="container">
                <div class="row justify-content-end align-items-center">
                    <div class="col-md-12">
                        <div class="col-md-12 p-r-m">
                            <div class="pt-3">
                                <img class="float-left mr-2 icon-top" src="./assets/images/icon@3x.png">
                                <div class=" float-left">
                                    <p class="mt-0 mb-0 store-hour mt-2">{{botConfigList?.length}}  Chat bots active</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-r-m">
                        <div class="pt-3">
                            <div class="col-md-12 col-lg-12 float-left p-r-m">
                                <div class="p-0 col-8-box">
                                    <div class="card-deck">
                                        <div  *ngFor="let botConfig of botConfigList" class="col-lg-3 col-md-6 col-12 ">
                                            <div class="card m-0 mb-4 ">
                                                <div class="card-header">
                                                    <p class="card-title mb-0"><b>{{botConfig.value.name.botName}}</b></p>
                                                </div>
                                                <div class="card-body text-left">
                                                    <p class="card-text mb-2"><b>280 Chats</b></p>
                                                    <p class="font12 mb-2 color848c98">Last updated: Yesterday 8:12 AM</p>
                                                    <p class="font12 color848c98">Category : <span class="color2fad57"> Restaurant</span></p>
                                                </div>
                                                <div class="card-footer bg-white pb-0">
                                                    <div class="card-title d-flex ">
                                                        <div (click)="editBotConfig(botConfig)" class="col-md-3 col-4  t-align p-r-d p-r-m t-align-left">
                                                            <a [routerLink]=""><img class="" src="./assets/images/edit.png"></a>
                                                        </div>
                                                        <div class="col-md-3 col-4  t-align p-r-d p-r-m">
                                                            <a [routerLink]=""> <img class="" src="./assets/images/2.png"></a>
                                                        </div>
                                                        <div (click)="deleteBot(botConfig)" class="col-md-3 col-4  t-align p-r-d p-r-m t-align-right">
                                                            <a [routerLink]=""> <img class="" src="./assets/images/forma-1.png"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-caret-left"></i></a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-caret-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
