<div class="mt-4 mt-sm-4 mt-md-4 mt-lg-0">
  <div class="col-4-box">
    <div class="bg-white border-raduis">
      <div class="pr-4 pl-4 pt-2 pb-2 inner-box">
        <p class="mb-0 font14">Chat Bot Simulator</p>
        <p class="mt-0 mb-0 font12">Not Active</p>
      </div>
    </div>
    <div class="pr-4 pl-4 pt-2 pb-1 inner-box-second">
      <div *ngFor="let chatSet of conversationList; let i = index">
        <div class="chat-width float-right text-right">
            <div  *ngIf="chatSet && chatSet[1] === 'user'" class="chat-box right">
                <div class="chat-text mt-1 mb-1">{{chatSet[0]}}</div>
            </div>
        </div>
        <div class="chat-width float-left text-left">
            <div *ngIf="chatSet && chatSet[1] === 'text' && chatSet[0]?.text" class="chat-box left">
                <div class="chat-text float-left mt-1 mb-1">{{chatSet[0]?.text}}</div>
            </div>
        </div>
      </div>
    </div>
    <div class="bg-white">
      <div class="pr-2 pl-2 pt-4 pb-1 inner-box">
        <form>
          <div class=" col-md-12">
            <div class="form-group">
              <div class="input-group reply-text">
                <input type="text" class="form-control border-right-0" placeholder="Write a reply...">
                <div class="input-group-append">
                  <button class="btn bg-white border border-left-0" type="button">
                    <i class="far fa-smile"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
