<!--TODO : Bot Header component to contain the following logic
  1) Dynamic display of the bot name vs the right header text
  2) Dynamic display of the BUild button based on the status of the bot
  3) ON click of the build button when it is present , the bot should be built and a message should be displayed
     at the bottom
-->

<div class="container">
    <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="pt-3 pl-6">

              <img class="float-left mr-2 icon-top" src="./assets/images/icon@3x.png">
              <h6 class="float-left mt-2 create-bot-heading">
                <strong>Create New Bot</strong>
              </h6>

            </div>
          </div>
          <div *ngIf="canBuild" class="col-md-6 col-xs-12">
            <div class="pt-3 pl-6">
              <button type="button" (click)="buildBot()" class="btn text-right btn-success btn-sm pr-4 pl-4 text-white">Build</button>
            </div>

          </div>
      </div>
</div>
