<bot-header></bot-header>
<div class="container">
  <div class="row justify-content-end">
      <div class="col-md-12">
          <div class="pt-3">
              <div class="col-md-12 col-lg-8 float-left">
                  <div class="p-3 col-8-box col-box-asla">
                      <form>
                          <div class="col-md-5">
                              <div class="form-group">
                                  <label class="text-uppercase">Bot Name</label>
                                  <input type="text" name="" class="form-control" [(ngModel)]="currentBot?.value?.name.botName" [ngModelOptions]="{standalone: true}" placeholder="Enter new bot name">
                                  <div class="col-md-12">
                                      <div class="mt-1">
                                          <em>some hit text will go here</em>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-9">
                              <div class="form-group">
                                  <label class="text-uppercase">Description</label>
                                  <textarea type="text" name="" class="form-control" [(ngModel)]="currentBot?.value?.name.botDescription" [ngModelOptions]="{standalone: true}" placeholder="Enter bot description"></textarea>
                              </div>
                          </div>
                          <div class="col-md-10">
                              <div *ngIf="currentBot?.status; else initialize" class="form-group">
                                  <button (click)="saveName(BotAction.UPDATE)" class="btn btn-success pr-3 pl-3">Edit Chat Bot</button>
                              </div>
                              <ng-template #initialize>
                                <button (click)="saveName(BotAction.CREATE)" class="btn btn-success pr-3 pl-3">Configure Chat Bot</button>
                              </ng-template>
                          </div>
                      </form>

                  </div>
              </div>
              <div class="col-md-12 col-lg-4 float-left">
                <chat-simulator></chat-simulator>
              </div>
          </div>
      </div>
  </div>
</div>
