<!-- Topic slider start  -->
<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <div class="col-md-12 ">
        <div id="slider-wrapper" class=" mb-3 row">
          <div *ngIf="slideOut" [@slideInOut] id="slidermaintop" class="p-2 bg-white top-slide-open col-md-12">
            <div class="wrappertop light-olive">
              <div class="row">
                <div class="col-md-12 contenttop">
                  <div (click)="createTopic()" class="col-md-2 text-center inner-boxes-slider border-top-slider-dashed ">
                    <div class="row p-2 new-topic">
                      <div class="col-md-12">
                        <img class="mr-2" src="./assets/images/plus.png" />
                      </div>
                      <div class="col-md-12">
                        <p class="mt-3">
                          <b>Create New Topic</b>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div *ngFor="let topic of topicList; let i = index" class="col-md-2 text-center inner-boxes-slider border-top-slider-plane bangni-color">
                    <div class="row">
                      <div class="col-md-12 text-left">
                        <div class="row">
                          <div class="col-d-10 col-x-10 col-p-10  ">
                            <div class="p-2">
                              <p class="text-white mb-0">{{topic.name}}
                                  <span class="pb-10"><a (click)="editName(i)" [routerLink]="" class="my-auto-custom">
                                      <i class="far fa-edit colordadada"></i>
                                    </a></span>
                              </p>
                              <p class="mb-0 ">
                                <a class="colordadada font12" (click)="editQuestions(i)" [routerLink]="">Edit Question</a>
                              </p>
                              <p class="mb-0 ">
                                <a class="colordadada font12" (click)="editAnswers(i)" [routerLink]="">Edit Answer</a>
                              </p>
                            </div>
                          </div>
                          <div class="col-d-2 col-x-2 col-p-2  " style="background-color: #653dd2">
                            <div (click)="copyTopic(i)" class="col-d-12 col-x-12 col-p-12 text-center height39 border-line-1 ">
                              <a [routerLink]="" class="my-auto-custom">
                                <i class="far fa-copy colordadada "></i>
                              </a>
                            </div>
                            <div class="col-d-12 col-x-12 col-p-12 text-center height39">
                              <a (click)="removeTopic(i)"[routerLink]="" class="my-auto-custom">
                                <i class="far fa-trash-alt colordadada"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 text-center inner-boxes-slider border-top-slider-dashed ">
                    <div class="row p-2">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="slider-buttons"class="col-md-12">
            <button *ngIf="slideOut; else viewButton"(click)="toggleSlideOut()" id="closeslider" class="cross-button-collapse color354052 font12" type="">
              <i class="fas fa-times mr-2"></i> Close</button>
            <ng-template #viewButton>
              <button (click)="toggleSlideOut()" id="openslider" class="cross-button-collapse color354052 font12" type="">
              <i class="fas fa-bars mr-2"></i> view all topics</button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Topic slider end -->
