<div class="p-3 col-8-box col-box-asla">
  <div class="col-md-12 float-left">
      <div class="pb-3">
          <img class="float-left mr-2 icon-top-form" src="./assets/images/edit-with-circle@3x.png">
          <p class="mb-0 bot-name text-uppercase">Topic Name</p>
          <p class="mt-0 mb-0 store-hour">{{topic.name}}</p>
      </div>
  </div>
  <form>
      <div class="col-md-10">
          <div class="input-group">
              <label class="text-uppercase">Enter Question</label>
          </div>
          <div class="input-group">
              <input [(ngModel)]="question" type="text" [ngModelOptions]="{standalone: true}" (keydown.enter)="addQuestion()" class="form-control" placeholder="Enter your question">
              <span class="input-group-btn">
              <button (click)="addQuestion()" class="btn btn-default ml-1" type="button"><b>Submit</b></button>
          </span>
              <div class="col-md-12">
                  <div class="mt-1">
                      <em>some hit text will go here</em>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6 mt-4">
          <div class="form-group">
              <label class="text-uppercase">similar questions</label>
              <div class="questions">
                  <div *ngFor="let question of topic.questions; let i = index">
                      <strong> Q{{i + 1}}.</strong> {{question}}
                      <span class="float-right active">
                    <a (click)="editQuestion(i, question)" [routerLink]=""><img src="./assets/images/edit@3x.png"></a>
                    <a (click)="removeQuestion(i)" [routerLink]=""><img src="./assets/images/forma-1@3x.png"></a>
                  </span>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-10">
          <div class="form-group">
              <button type="button" (click) = "saveQuestions()" class="btn btn-success pr-4 pl-4 text-white">Configure Answers </button>
              <button type="button" class="btn btn-default pr-4 pl-4">Edit Name </button>
          </div>
      </div>
  </form>
</div>
