<div class="p-3 col-8-box col-box-asla">
  <div class="col-md-12 float-left">
      <div class="pb-3">
          <img class="float-left mr-2 icon-top-form" src="./assets/images/group-5@3x.png">
          <p class="mb-0 bot-name text-uppercase">topic Name</p>
          <p class="mt-0 mb-0 store-hour">Sore Hours</p>
      </div>
  </div>
  <form>
      <div class="col-md-10">
          <div class="input-group">
              <label class="text-uppercase">enter Question</label>
          </div>
          <div class="input-group">
              <input type="text" name="" class="form-control" placeholder="Are You Still Open? ">
              <span class="input-group-btn">
              <button class="btn btn-default ml-1" type="button"><b>Submit</b></button>
          </span>
              <div class="col-md-12">
                  <div class="mt-1">
                      <em>some hit text will go here</em>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6 mt-4">
          <div class="form-group">
              <label class="text-uppercase">similar questions</label>
              <div class="questions">
                  <div>
                      <strong> Q1.</strong> Are You Still Open?
                      <span class="float-right active">
                    <a href="#"><img src="./assets/images/edit@3x.png"></a>
                     <a href="#"><img src="./assets/images/forma-1@3x.png"></a>
                  </span>
                  </div>
                  <div>
                      <strong> Q2.</strong> What are the hours of operation?
                      <span class="float-right">
                     <a href="#"><img src="./assets/images/edit@3x.png"></a>
                     <a href="#"><img src="./assets/images/forma-1@3x.png"></a>
                  </span>
                  </div>
                  <div>
                      <strong> Q3.</strong> What are your hours ?
                      <span class="float-right">
                     <a href="#"><img src="./assets/images/edit@3x.png"></a>
                     <a href="#"><img src="./assets/images/forma-1@3x.png"></a>
                  </span>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-10">
          <div class="form-group">
              <button (click) = "saveQuestions()" class="btn btn-success pr-4 pl-4 text-white">Configure Answers </button>
              <button class="btn btn-default pr-4 pl-4">Edit Name </button>
          </div>
      </div>
  </form>
</div>
