<div class="p-3 col-8-box col-box-asla  ">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow col-md-5">
      <div class="card-body d-flex flex-column">
        <div class="col-md-12  text-center change-topic-main d-flex flex-column ">
          <div class="mt-3 pt-3">
            <p>
              <strong>Create New Topic</strong>
            </p>
            <p class="span">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
            <div class="col-md-12">
              <img class="mt-5" src="./assets/images/illustration.png">
            </div>
          </div>
        </div>
        <form>
          <div class="col-md-10">
              <div class="form-group">
                  <label>Topic Name</label>
                  <input [(ngModel)]="topicName" type="text" [ngModelOptions]="{standalone: true}" class="form-control"  placeholder="Enter new Topic name">
              </div>
          </div>
            <div class="col-md-10 button-bottom mt-auto pt-2">
              <button (click)="createNewTopic()" class="btn btn-default px-5 my-2 px-sm-2 px-md-5 border-green mt-auto">
                <b>Continue</b>
              </button>
            </div>
      </form>

      </div>
    </div>
    <div class="card mb-4 box-shadow col-md-2 hidden-md-divider">
      <div class="wrapper my-auto">
        <div class="line"></div>
        <div class="wordwrapper">
          <div class="ok-img">
            <img src="./assets/images/or.png">
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-4 box-shadow col-md-5">
      <div class="card-body d-flex flex-column">
        <div class="col-md-12  text-center change-topic-main">
          <div class="mt-3 pt-3">
            <p>
              <strong>Pick a Topic</strong>
            </p>
            <p class="span">Sint occaecat cupidatat non unt in culpa qui officia deserunt mollit.</p>
            <div class="col-md-12 text-left text-new-topic">
              <div class="mt-3 pt-3">
                <p>
                  <i class="far fa-circle mr-2"></i>
                  Contact Us
                </p>
                <p>
                  <i class="far fa-circle mr-2"></i> About Us</p>
                <p>
                  <i class="far fa-circle mr-2"></i> Weather
                  <i class="fas fa-check-circle float-right color1bb934 pt-1 mr-2"></i>
                </p>
                <p>
                  <i class="far fa-circle mr-2"></i> Topic 4</p>
                <p>
                  <i class="far fa-circle mr-2"></i> Topic 5</p>
                <p>
                  <i class="far fa-circle mr-2"></i> Topic 6</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 button-bottom mt-auto pt-3">
            <button class="btn btn-default px-5 my-2 px-sm-2 px-md-5 border-green mt-auto">
              <b>Continue</b>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
