<div *ngFor="let button of buttons; let i = index" >
  <div class="width100 float-left">
      <div class="col-md-12 float-left">
          <div class="mt-4 mb-0 float-left width100">
              <div class="input-group m-0">
                  <label class="text-uppercase font11">SELECT BUTTON TYPE</label>
              </div>
              <div class="mt-3 mb-3 float-left width100">
                  <div class="col-md-4 float-left pl-0  my-2 my-md-0 my-lg-0">
                      <div class="input-group">
                          <label for="{{id}}_button_{{i}}_URL" class="text-uppercase weight400 custom-radio-label">
                              <input id="{{id}}_button_{{i}}_URL" type="radio" name="{{id}}_{{i}}" (change)="handleChange(i)" [(ngModel)]="button.type" [value]="ButtonType.URL" [ngModelOptions]="{standalone: true}" class="custom-radio" placeholder="">
                              <span class="checkmark"></span>
                              URL Button
                          </label>
                      </div>
                  </div>
                  <div class="col-md-4 float-left pl-0  my-2 my-md-0 my-lg-0">
                      <div class="input-group">
                          <label for="{{id}}_button_{{i}}_PAYLOAD" class="text-uppercase weight400 custom-radio-label">
                              <input id="{{id}}_button_{{i}}_PAYLOAD" type="radio" name="{{id}}_{{i}}" (change)="handleChange(i)" [(ngModel)]="button.type" [value]="ButtonType.PAYLOAD" [ngModelOptions]="{standalone: true}" class="custom-radio" placeholder="">
                              <span class="checkmark"></span>
                              Postback Button
                          </label>
                      </div>
                  </div>
                  <!-- <div class="col-md-4 float-left pl-0  my-2 my-md-0 my-lg-0">
                      <div class="input-group">
                          <label class="text-uppercase weight400 custom-radio-label">
                              <input type="radio" name="1" class="custom-radio" placeholder="">
                              <span class="checkmark"></span>
                              Choose Topic
                          </label>
                      </div>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
  <div class="width100 float-left">
      <div class="col-md-6 float-left">
          <div class="mt-1 mb-2 ">
              <div class="input-group">
                  <label class="text-uppercase font11">title</label>
              </div>
              <div *ngIf="button.type===ButtonType.URL" class="input-group">
                  <input type="text" [(ngModel)]="button.title" name="" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="">
              </div>
              <div *ngIf="button.type===ButtonType.PAYLOAD" class="input-group">
                  <select class="form-control" (ngModelChange)="setPostback(i, $event)" [ngModel]="button.title">
                      <option [value]="">-- Select Postback Topic --</option>
                      <option *ngFor="let entry of getDataMap()" [value]="entry[0]">{{entry[0]}}</option>
                    </select>
              </div>
          </div>
      </div>
      <div class="col-md-6 float-left">
          <div *ngIf="button.type===ButtonType.URL" class="mt-1 mb-2 ">
              <div class="input-group">
                  <label class="text-uppercase font11">url</label>
              </div>
              <div class="input-group">
                  <input type="text" [(ngModel)]="button.url" name="" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="">
              </div>
          </div>
          <div *ngIf="button.type===ButtonType.PAYLOAD" class="mt-1 mb-2 ">
            <div class="input-group">
                <label class="text-uppercase font11">payload</label>
            </div>
            <div class="input-group">
                <input disabled type="text" [value]="button.payload" name="" class="form-control" placeholder="">
            </div>
        </div>
      </div>
      <div (click)="removeButton(i)" class="col-md-2 float-left">
          <div class="mt-1 mb-2 ">
              <div class="input-group">
                  <a><img class="mt-1" src="./assets/images/forma-1.png"></a>
              </div>
          </div>
      </div>
  </div>
</div>
<div (click)="addButton()" class="col-d-12 col-x-12 col-p-12 float-left topic-slider-bg-under mt-3  bg-white border-top-1">
    <div class="col-md-12">
        <p class="mb-0 pt-2 pb-2 color2695ea text-uppercase"><img class="mr-2" src="./assets/images/plus.png" /> Add button</p>
    </div>
</div>
