<topic-slider (gotoQuestionEvent)="gotoTopicQuestion($event)" (gotoAnswerEvent)="gotoTopicAnswer($event)"
(removeTopicEvent)="removeTopic($event)" [topicList]="botConfig.value.topics"></topic-slider>
<bot-header></bot-header>
<div class="container">
  <div class="row justify-content-end align-items-center main-card-topic">
    <div class="col-md-12">
      <div class="pt-3 row">
        <div class="col-md-12 col-lg-8 ">
          <router-outlet></router-outlet>
        </div>
        <div class="col-md-12 col-lg-4 ">
          <chat-simulator [topicList] = "topicList"></chat-simulator>
        </div>
      </div>
    </div>
  </div>
</div>
