<!-- Topic slider start  -->
<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <div class="col-md-12 ">
        <div class=" mb-3 row">
          <div id="slidermaintop" class="p-2 bg-white top-slide-open col-md-12">
            <div class="wrappertop light-olive">
              <div class="row">
                <div class="col-md-12 contenttop">
                  <div class="col-md-2 text-center inner-boxes-slider border-top-slider-dashed ">
                    <div class="row p-2">
                      <div class="col-md-12">
                        <img class="mr-2" src="./assets/images/plus.png" />
                      </div>
                      <div class="col-md-12">
                        <p class="mt-3">
                          <b>Create New Topic</b>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class=" col-md-2 text-center inner-boxes-slider border-top-slider-plane bangni-color">
                    <div class="row">
                      <div class="col-md-12 text-left">
                        <div class="row">
                          <div class="col-d-10 col-x-10 col-p-10  ">
                            <div class="p-2">
                              <p class="text-white mb-0">MENU</p>
                              <p class="mb-0 ">
                                <a class="colordadada font12" href="">Edit Question</a>
                              </p>
                              <p class="mb-0 ">
                                <a class="colordadada font12" href="">Edit Answer</a>
                              </p>
                            </div>
                          </div>
                          <div class="col-d-2 col-x-2 col-p-2  " style="background-color: #653dd2">
                            <div class="col-d-12 col-x-12 col-p-12 text-center height39 border-line-1 ">
                              <a href="" class="my-auto-custom">
                                <i class="far fa-copy colordadada "></i>
                              </a>
                            </div>
                            <div class="col-d-12 col-x-12 col-p-12 text-center height39">
                              <a href="" class="my-auto-custom">
                                <i class="far fa-trash-alt colordadada"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 text-center inner-boxes-slider border-top-slider-dashed ">
                    <div class="row p-2">
                    </div>
                  </div>
                  <div class="col-md-2 text-center inner-boxes-slider border-top-slider-dashed ">
                    <div class="row p-2">
                    </div>
                  </div>
                  <div class="col-md-2 text-center inner-boxes-slider border-top-slider-dashed ">
                    <div class="row p-2">
                    </div>
                  </div>
                  <div class="col-md-2 text-center inner-boxes-slider border-top-slider-dashed ">
                    <div class="row p-2">
                    </div>
                  </div>
                  <div class="col-md-2 text-center inner-boxes-slider border-top-slider-dashed ">
                    <div class="row p-2">
                    </div>
                  </div>
                  <div class="col-md-2 text-center inner-boxes-slider border-top-slider-dashed ">
                    <div class="row p-2">
                    </div>
                  </div>
                  <div class="col-md-2 text-center inner-boxes-slider border-top-slider-dashed ">
                    <div class="row p-2">
                    </div>
                  </div>
                  <div class="col-md-2 text-center inner-boxes-slider border-top-slider-dashed ">
                    <div class="row p-2">
                    </div>
                  </div>
                  <div class="col-md-2 text-center inner-boxes-slider border-top-slider-dashed ">
                    <div class="row p-2">
                    </div>
                  </div>
                  <div class="col-md-2 text-center inner-boxes-slider border-top-slider-dashed ">
                    <div class="row p-2">
                    </div>
                  </div>
                  <div class="col-md-2 text-center inner-boxes-slider border-top-slider-dashed ">
                    <div class="row p-2">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <button id="closeslider" class="cross-button-collapse color354052 font12" type="">
              <i class="fas fa-times mr-2"></i> Close</button>
            <button id="openslider" class="cross-button-collapse color354052 font12" type="">
              <i class="fas fa-bars mr-2"></i> view all topics</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Topic slider end -->
<div class="container">
  <div class="row justify-content-end align-items-center main-card-topic">
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="pt-3 row">
          <img class="icon-top" src="./assets/images/icon@3x.png">
          <div class="col-md-10 ">
            <p class="mb-0 bot-name text-uppercase">
              <strong>bot name</strong>
            </p>
            <p class="mt-0 mb-0 store-hour">Store Working Hours</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="pt-3 row">
        <div class="col-md-12 col-lg-8 ">
          <div class="p-3 col-8-box col-box-asla  ">
            <div class="card-deck mb-3 text-center">
              <div class="card mb-4 box-shadow col-md-5">
                <div class="card-body d-flex flex-column">
                  <div class="col-md-12  text-center change-topic-main d-flex flex-column ">
                    <div class="mt-3 pt-3">
                      <p>
                        <strong>Create New Topic</strong>
                      </p>
                      <p class="span">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                      <div class="col-md-12">
                        <img class="mt-5" src="./assets/images/illustration.png">
                      </div>
                    </div>
                  </div>
                  <form>
                    <div class="col-md-10">
                        <div class="form-group">
                            <label>Topic Name</label>
                            <input type="text" name="" class="form-control"  placeholder="Enter new Topic name">
                        </div>
                    </div>
                      <div class="col-md-10 button-bottom mt-auto pt-2">
                        <button (click)="createNewTopic()" class="btn btn-default px-5 my-2 px-sm-2 px-md-5 border-green mt-auto">
                          <b>Continue</b>
                        </button>
                      </div>
                </form>

                </div>
              </div>
              <div class="card mb-4 box-shadow col-md-2 hidden-md-divider">
                <div class="wrapper my-auto">
                  <div class="line"></div>
                  <div class="wordwrapper">
                    <div class="ok-img">
                      <img src="./assets/images/or.png">
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-4 box-shadow col-md-5">
                <div class="card-body d-flex flex-column">
                  <div class="col-md-12  text-center change-topic-main">
                    <div class="mt-3 pt-3">
                      <p>
                        <strong>Pick a Topic</strong>
                      </p>
                      <p class="span">Sint occaecat cupidatat non unt in culpa qui officia deserunt mollit.</p>
                      <div class="col-md-12 text-left text-new-topic">
                        <div class="mt-3 pt-3">
                          <p>
                            <i class="far fa-circle mr-2"></i>
                            Contact Us
                          </p>
                          <p>
                            <i class="far fa-circle mr-2"></i> About Us</p>
                          <p>
                            <i class="far fa-circle mr-2"></i> Weather
                            <i class="fas fa-check-circle float-right color1bb934 pt-1 mr-2"></i>
                          </p>
                          <p>
                            <i class="far fa-circle mr-2"></i> Topic 4</p>
                          <p>
                            <i class="far fa-circle mr-2"></i> Topic 5</p>
                          <p>
                            <i class="far fa-circle mr-2"></i> Topic 6</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 button-bottom mt-auto pt-3">
                      <button class="btn btn-default px-5 my-2 px-sm-2 px-md-5 border-green mt-auto">
                        <b>Continue</b>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 ">
          <div class="mt-4 mt-sm-4 mt-md-4 mt-lg-0">
            <div class="col-4-box">
              <div class="bg-white border-raduis">
                <div class="pr-4 pl-4 pt-2 pb-2 inner-box">
                  <p class="mb-0 font14">Chat Bot Simulator</p>
                  <p class="mt-0 mb-0 font12">Not Active</p>
                </div>
              </div>
              <div class="pr-4 pl-4 pt-2 pb-1 inner-box-second"></div>
              <div class="bg-white">
                <div class="pr-2 pl-2 pt-4 pb-1 inner-box">
                  <form>
                    <div class=" col-md-12">
                      <div class="form-group">
                        <div class="input-group reply-text">
                          <input type="text" class="form-control border-right-0" placeholder="Write a reply...">
                          <div class="input-group-append">
                            <button class="btn bg-white border border-left-0" type="button">
                              <i class="far fa-smile"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
