  <div class="topic-slider-bg pb-2 float-left width100">
      <form>
          <div class="col-md-12">
              <div class="col-d-12">
                  <p class="text-uppercase mb-0 font12 color68768c">QUESTION </p>
              </div>
              <div class="col-d-12">
                  <div class="col-d-6 float-left">
                      <p class="color68768c">Are You Still Open ?
                          <img class="ml-2" src="./assets/images/edit.png"></p>
                  </div>
                  <div class="col-d-6 float-right text-right">
                      <p class="text-uppercase color2695ea ">VIEW OTHER QUESTIONS
                          <img class="ml-2" src="./assets/images/expand.png"></p>
                  </div>
              </div>
          </div>
          <div class="col-md-12 mt-4">
              <div class="form-group">
                  <label class="text-uppercase font11 m-0">RESPONSE TYPE FOR ABOVE QUESTION</label>
                  <div class="col-d-12">
                      <div class="col-d-12 float-left">
                          <div class="col-p-12 col-d-3 col-x-6 float-left mt-2 mb-2">
                              <div class="pr-2">
                                  <button (click)="setResponseType(TopicResponseType.TEXT)" class="btn-default-custom col-md-12 text-left font12 pointer">
                                      <img class="mr-2" src="./assets/images/tcolor.png"  /> Text Only
                                  </button>
                              </div>
                          </div>
                          <div class="col-p-12 col-d-3 col-x-6 float-left mt-2 mb-2">
                              <div class="pr-2">
                                  <button class="btn-default-custom col-md-12 text-left font12 pointer">
                                      <img class="mr-2" src="./assets/images/media.png"  /> Media
                                  </button>
                              </div>
                          </div>
                          <div class="col-p-12 col-d-3 col-x-6 float-left mt-2 mb-2">
                              <div class="pr-2">
                                  <button (click)="setResponseType(TopicResponseType.BUTTON)" class="btn-default-custom col-md-12 text-left font12 pointer">
                                      <img class="mr-2" src="./assets/images/button.png"  /> Button
                                  </button>
                              </div>
                          </div>
                          <div class="col-p-12 col-d-3 col-x-6 float-left mt-2 mb-2">
                              <div class="pr-2">
                                  <button (click)="setResponseType(TopicResponseType.ELEMENT)" class="btn-default-custom col-md-12 text-left font12 pointer">
                                      <img class="mr-2" src="./assets/images/carousal.png"  /> Carousel
                                  </button>
                              </div>
                          </div>
                          <div class="col-p-12 col-d-3 col-x-6 float-left mt-2 mb-2">
                              <div class="pr-2">
                                  <button class="btn-default-custom col-md-12 text-left font12 pointer">
                                      <img class="mr-2" src="./assets/images/api.png"  /> Rest API
                                  </button>
                              </div>
                          </div>
                          <div class="col-p-12 col-d-3 col-x-6 float-left mt-2 mb-2">
                              <div class="pr-2">
                                  <button class="btn-default-custom col-md-12 text-left font12 pointer">
                                      <img class="mr-2" src="./assets/images/email.png"  /> Email
                                  </button>
                              </div>
                          </div>
                          <div class="col-p-12 col-d-3 col-x-6 float-left mt-2 mb-2">
                              <div class="pr-2">
                                  <button class="btn-default-custom col-md-12 text-left font12 pointer">
                                      <img class="mr-2" src="./assets/images/choose-topic.png"  /> Choose Topic
                                  </button>
                              </div>
                          </div>
                          <div class="col-p-12 col-d-3 col-x-6 float-left mt-2 mb-2">
                              <div class="pr-2">
                                  <button class="btn-default-custom col-md-12 text-left font12 pointer">
                                      <img class="mr-2" src="./assets/images/follow.png"  /> Follow Up Ques.
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </form>
  </div>
