<div class="col-md-12  float-left px-0">
  <div class="form-group">
      <div class="width100">
          <div class="width100 float-left">
              <div class="col-p-12 col-d-12 col-x-12 float-left mt-2 mb-2">
                  <div class="float-left width100 mt-3 mb-3">
                      <div class="width100 px-2 py-3 bg-white float-left">
                          <div class="background-line d-inline-flex justify-content-center-custom flex-nowrap">
                              <div (click)="selectResponse(i)" *ngFor="let answer of answerList; let i = index" class="mt-2 mb-2 mr-2 ml-2">
                                  <div [ngSwitch]="answer.response_type" class="pr-2">
                                    <ng-container *ngSwitchCase="TopicResponseType.TEXT">
                                        <button class="bg-white text-center font12 {{ isArrowNeeded(i) ? 'aftertir' : '' }}">
                                            <img class="p-2 pointer" src="./assets/images/tcolor.png"  />
                                        </button>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="TopicResponseType.BUTTON">
                                        <button class="bg-white text-center font12 aftertir">
                                            <img class="p-2 pointer" src="./assets/images/button.png"  />
                                        </button>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="TopicResponseType.MEDIA">
                                        <button class="bg-white text-center font12 aftertir">
                                            <img class="p-2 pointer" src="./assets/images/media.png"  />
                                        </button>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="TopicResponseType.ELEMENT">
                                      <div class="pr-2">
                                        <button class="bg-white text-center font12 aftertir">
                                            <img class="p-2" src="./assets/images/carousal.png"  />
                                            </button>
                                    </div>
                                    </ng-container>
                                  </div>
                              </div>
                              <!-- <div class="mt-2 mb-2 mr-2 ml-2">

                              </div>
                              <div class="mt-2 mb-2 mr-2 ml-2">
                                  <div class="pr-2">
                                      <button class="bg-white text-center font12 aftertir">
                                          <img class="p-2" src="./assets/images/api.png"  />
                                          </button>
                                  </div>
                              </div>
                              <div class="mt-2 mb-2 mr-2 ml-2">
                                  <div class="pr-2">
                                      <button class="bg-white text-center font12 aftertir">
                                          <img class="p-2" src="./assets/images/email.png"  />
                                          </button>
                                  </div>
                              </div>
                              <div class="mt-2 mb-2 mr-2 ml-2">
                                  <div class="pr-2">
                                      <button class="bg-white text-center font12 aftertir">
                                          <img class="p-2" src="./assets/images/choose-topic.png"  />
                                          </button>
                                  </div>
                              </div>
                              <div class="mt-2 mb-2 mr-2 ml-2">
                                  <div class="pr-2">
                                      <button class="bg-white text-center font12">
                                          <img class="p-2" src="./assets/images/follow.png"  />
                                          </button>
                                  </div>
                              </div> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
